<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.early.db.BoardMapper">
	
	<select id="getAllBoard" resultType="com.early.model.NoticeBoardVO">
		select * from tb_FORUM where loc = #{loc}
	</select>
	
	<insert id="writeBoard" parameterType="com.early.model.NoticeBoardVO">
		insert into tb_forum (f_content, f_file, user_id, loc) values (,,,)
	</insert>

</mapper>