<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.early.db.mapMapper">

	<select id="getApart" parameterType="String" resultType="com.early.model.ApartVO">
		SELECT * FROM tb_apartment WHERE apt_loc LIKE
		'%'||#{name}||'%'
	</select>
	<select id="getApartinfo" parameterType="String" resultType="com.early.model.ApartAllinfoVO">
		SELECT a.apt_name, a.apt_loc, b.apt_size, b.apt_img,
		b.apt_realprice
		FROM tb_apartment a
		JOIN tb_apartment_info b ON
		a.apt_code = b.apt_code
		WHERE a.apt_name=#{apt_name}
	</select>
	<select id="getAptReview" resultType="com.early.model.ApartAllinfoVO">
		select a.apt_name, b.user_id, b.review_content
		FROM
		tb_apartment a
		JOIN tb_apt_review b ON a.apt_code = b.apt_code
		WHERE
		a.apt_name=#{apt_name}
	</select>
	<select id="getApartSearch" parameterType="String"
		resultType="com.early.model.SearchApartVO">
		SELECT a.apt_name, b.apt_realprice, a.apt_loc
		FROM
		tb_apartment a
		JOIN tb_apartment_info b ON a.apt_code = b.apt_code
		WHERE a.apt_loc LIKE '%' || #{name} || '%'
	</select>

	<select id="SelectLoans" parameterType="com.early.model.LoanVO"
		resultType="com.early.model.LoanNameVO">
		SELECT a.loan_name, a.loan_limit
		FROM tb_loan a
		JOIN
		tb_loan_criteria b ON a.loan_seq = b.loan_seq
		WHERE FIRST_HOUSE_YN =
		#{FIRST_HOUSE_YN}
		AND DUPLICATE_YN = #{DUPLICATE_YN}
		AND
		MARRIAGE_YEARS >= #{MARRIAGE_YEARS}
	</select>

	<select id="SelectPrice" resultType="com.early.model.ApartVO">
		select a.APT_NAME , b.APT_REALPRICE , a.APT_LOC
		from TB_APARTMENT a,TB_APARTMENT_INFO b
		where a.APT_CODE = b.APT_CODE
	</select>

	<select id="getCompare" parameterType="String" resultType="com.early.model.CompareVO">
		SELECT a.apt_name, b.apt_realprice, a.apt_loc
		FROM tb_apartment a,
		tb_apartment_info b
		WHERE a.apt_code = b.apt_code
		AND b.apt_realprice <![CDATA[<]]>
		#{total}
	</select>

	<select id="getCompare2" parameterType="int" resultType="com.early.model.CompareVO">
	<![CDATA[
        SELECT a.apt_name, a.apt_loc, b.apt_realprice
        FROM tb_apartment a
        JOIN tb_apartment_info b ON a.apt_code = b.apt_code
        WHERE b.apt_realprice < #{total_money}
    ]]>
	</select>

	<delete id="deletereview">
		DELETE FROM tb_apt_review WHERE USER_ID = #{user_id}
	</delete>

</mapper>