<?xml version="1.0" encoding="UTF-8"?>
<!-- 1. 문법 정의(어떤 태그 사용할 건지 정의) : mapper태그 사용하겠다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 2. mapper : 안쪽에 sql구문을 작성할 수 있는 공간 namespace : 중복이 되지 않게 선언 >> DAO와 
	이름 일치시키자 -->
<mapper namespace="com.early.db.MemberMapper">

	<insert id="join" parameterType="com.early.model.MemberVO">
		insert into tb_user(user_ID, user_PW, user_NICK,joined_at, user_type)
		values (#{user_id}, #{user_pw}, #{user_nick},sysdate,'N')
	</insert>
	<select id="login" parameterType="com.early.model.MemberVO"
		resultType="com.early.model.MemberVO">
		SELECT * FROM TB_USER 
		WHERE USER_ID = #{user_id} 
		AND USER_PW = #{user_pw}
	</select>
	 <select id="idCheck" parameterType="String" resultType="boolean">
		SELECT case when count(*)>0 then 1
					else 0
			   end result
		FROM tb_user
		WHERE user_id=#{user_id}	   		
	</select>
	
	<update id="update" parameterType="com.early.model.MemberVO">
		UPDATE tb_user SET
		user_pw=#{user_pw}, user_nick=#{user_nick} WHERE user_id=#{user_id}
	</update>
	
	
	<delete id="deleteMember" parameterType="String">
		delete from tb_user where user_id=#{user_id}
	</delete>
	
	<select id="selectAll" resultType="com.early.model.MemberVO">
		SELECT user_id, user_PW, user_NICK,joined_at
		FROM tb_user
		WHERE user_id != 'admin'
	</select>
	
	

</mapper>